@font-face {
  font-family: "custom-icon"; /* Project id 2569252 */
  src: url('@/static/css/iconfont.woff2?t=1622442985594') format('woff2'),
       url('@/static/css/iconfont.woff?t=1622442985594') format('woff'),
       url('@/static/css/iconfont.ttf?t=1622442985594') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-fangda:before {
  content: "\e62d";
}

.custom-icon-fanhui:before {
  content: "\e62c";
}

