.supplier_sharing{
	width: 100%;
	background: #f1f3f6;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.16);
	.content{
		width: 100%;
		background: #f1f3f6;
		position: relative;
		margin-bottom: 50px;
		min-height: 668px;
		.content_swiper{
			width: 100%;
			height: 655px;
			background: #36ade2;
			background-image: url(../../static/images/supplier_sharing_bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;
			.product_label{
				position: absolute;
				width: 117px;
				height: 102px;
				top: 0;
				left: 360px;
			}
		}
		.content_recommend_product{
			width: 1202px;
			height: 653px;
			background: #ffffff;
			border-radius: 15px;
			margin: auto;
			margin-top: -50px;
			position: relative;
			.title{
				width: 300px;
				height: 50px;
				margin: auto;
			}
			.rp{
				background-image: url(../../static/images/supplier_sharing_rp.png);
			}
			.product_list{
				padding: 25px;
				.product_list_item{
					width: 100%;
					height: 207px;
					border: 2px solid #ff984a;
					border-radius: 8px;
					display: flex;
					.product_list_img{
						width: 292px;
						height: 206px;
						padding: 18px;
						.img{
							width: 256px;
							height: 170px;
						}
						.img:hover{
							cursor: pointer;
						}
					}
					.product_list_info{
						padding: 18px 18px 18px 0;
						.product_list_info_text{
							font-weight: 400;
							font-size: 14px;
							color: #333333;
							margin-bottom: 12px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.active{
							color: #333333;
							font-size: 16px;
							font-weight: 700;
						}
					}
				}
				.product_list_item2{
					width: 100%;
					height: 252px;
					border: 2px solid #ff984a;
					border-radius: 8px;
					margin-bottom: 25px;
					.product_list_img{
						width: 100%;
						height: 186px;
						padding: 18px;
						.img{
							width: 233px;
							height: 154px;
							margin: auto;
						}
						.img:hover{
							cursor: pointer;
						}
					}
					.product_list_info{
						padding: 0 18px 0 18px;
						.product_list_info_text{
							font-weight: 400;
							font-size: 14px;
							color: #333333;
							margin-bottom: 8px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.active{
							color: #333333;
							font-size: 15px;
							font-weight: 700;
						}
						.product_list_info_plus{
							display: flex;
							.product_list_info_text_left{
								font-weight: 400;
								font-size: 14px;
								color: #333333;
							}
							.product_list_info_text_right{
								font-weight: 400;
								font-size: 14px;
								color: #333333;
								margin-left: auto;
							}
						}
					}
				}
			}
		}
		.content_new_product{
			width: 1202px;
			height: 710px;
			background: #ffffff;
			border-radius: 15px;
			margin: auto;
			margin-top: 30px;
			position: relative;
			.title{
				width: 300px;
				height: 60px;
				margin: auto;
			}
			.rp{
				background-image: url(../../static/images/supplier_sharing_np.png);
			}
			.product_list{
				padding: 25px;
				.product_list_item{
					width: 100%;
					height: 252px;
					border: 2px solid #32BEC8;
					border-radius: 8px;
					margin-bottom: 25px;
					.product_list_img{
						width: 100%;
						height: 186px;
						padding: 18px;
						.img{
							width: 233px;
							height: 154px;
							margin: auto;
						}
						.img:hover{
							cursor: pointer;
						}
					}
					.product_list_info{
						padding: 0 18px 0 18px;
						.product_list_info_text{
							font-weight: 400;
							font-size: 14px;
							color: #333333;
							margin-bottom: 8px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.active{
							color: #333333;
							font-size: 15px;
							font-weight: 700;
						}
						.product_list_info_plus{
							display: flex;
							.product_list_info_text_left{
								font-weight: 400;
								font-size: 14px;
								color: #333333;
							}
							.product_list_info_text_right{
								font-weight: 400;
								font-size: 14px;
								color: #333333;
								margin-left: auto;
							}
						}
					}
				}
			}
		}
		.content_other_product{
			width: 1202px;
			height: 707px;
			background: #ffffff;
			border-radius: 15px;
			margin: auto;
			margin-top: 30px;
			position: relative;
			.title{
				width: 300px;
				height: 56px;
				margin: auto;
			}
			.rp{
				background-image: url(../../static/images/supplier_sharing_op.png);
			}
			.product_list{
				padding: 25px;
				.product_list_item{
					width: 100%;
					height: 252px;
					border: 2px solid #39AEFF;
					border-radius: 8px;
					margin-bottom: 25px;
					.product_list_img{
						width: 100%;
						height: 186px;
						padding: 18px;
						.img{
							width: 233px;
							height: 154px;
							margin: auto;
						}
						.img:hover{
							cursor: pointer;
						}
					}
					.product_list_info{
						padding: 0 18px 0 18px;
						.product_list_info_text{
							font-weight: 400;
							font-size: 14px;
							color: #333333;
							margin-bottom: 8px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.active{
							color: #333333;
							font-size: 15px;
							font-weight: 700;
						}
						.product_list_info_plus{
							display: flex;
							.product_list_info_text_left{
								font-weight: 400;
								font-size: 14px;
								color: #333333;
							}
							.product_list_info_text_right{
								font-weight: 400;
								font-size: 14px;
								color: #333333;
								margin-left: auto;
							}
						}
					}
				}
			}
		}
		.content_contact{
			width: 1202px;
			height: 206px;
			background: #ffffff;
			border-radius: 15px;
			margin: auto;
			margin-top: 30px;
			position: relative;
			display: flex;
			.contact_img{
				width: 175px;
				height: 174px;
				background-image: url(../../static/images/supplier_contact.png);
				margin: 20px 0 13px 113px;
			}
			.contact_way{
				margin: 77px 0 0 112px;
				.title{
					font-size: 24px;
					font-weight: 700;
				}
				.name{
					font-size: 16px;
					font-weight: 700;
					color: #666666;
				}
			}
			.contact_info{
				margin: 77px 0 0 115px;
				.item{
					font-size: 14px;
					font-weight: 400;
					color: #666666;
					margin-bottom: 13px;
				}
			}
		}
		.more_btn{
			margin: auto;
			width: 160px;
		}
	}
	.red_color{
		color: #fa3534 !important;
	}
	.grenn-btn {
		color: #32BEC8;
		background-color: #ffffff;
	}
	.orange-btn {
		color: #FF984A;
		background-color: #ffffff;
	}
	.blue-btn {
		color: #39AEFF;
		background-color: #ffffff;
	}
	.mb_content{
		background: #ffffff;
		.wrap{
			position: relative;
			.product_label{
				top: 0;
				left: 10px;
				width: 100px;
				height: 80px;
				z-index: 2;
				position: absolute;
			}
		}
		.panel{
			background: #ffffff;
			min-height: 500px;
			.product_panel{
				width: 100%;
				background: #ffffff;
				.title_box{
					display: flex;
					position: relative;
					height: 40px;
					line-height: 40px;
					background: #FFFFFF;
					.icon_blue::before {
						width: 4px;
						height: 14px;
						background-color: #1FBFCB;
						position: absolute;
						left: 5px;
						top: 50%;
						content: "";
						-webkit-transform: translate(0, -50%);
						transform: translate(0, -50%);
					}
					.title_box_title{
						margin-left: 15px;
						font-size: 16px;
						color: #333333;
						font-weight: 700;
					}
					.title_box_more{
						font-size: 14px;
						margin-left: auto;
						margin-right: 5px;
						color: #999999;
					}
				}
				.product_grid{
					background-color: #ffffff;
					.product_grid_item{
						margin: 5px;
						border: 1px solid #DCDCDC;
						border-radius: 4px;
						.img{
							width: 100%;
							height: 92.5px;
							padding: 5px;
						}
						.text{
							font-size: 12px;
							padding: 0 5px 5px 5px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
				}
				.product_list{
					background-color: #ffffff;
					.product_list_item{
						display: flex;
						border: 1px solid #DCDCDC;
						margin: 5px;
						border-radius: 4px;
						.left{
							margin: 5px;
							width: 143px;
							.img{
								width: 100%;
								height: 108px;
							}
						}
						.right{
							margin: 5px;
							position: relative;
							.item{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-size: 14px;
								color: #999999;
							}
							.name{
								font-size: 16px;
								color: #333333;
							}
							.number{
								color: #999999;
								margin-top: 10px;
							}
							.price{
								position: absolute;
								bottom: 0;
							}
						}
					}
					.product_list_item2{
						// height: 8.08rem;
						background: #ffffff;
						border: 1px solid #dcdfe6;
						border-radius: 5px;
						margin: 5px;
						.product_list_img{
							width: 100%;
							height: 4.5rem;
							padding: 0.17rem 0.17rem 0.01rem 0.17rem;
							.img{
								width: 100%;
								height: 4.5rem;
							}
						}
						.product_list_info{
							padding-left: 0.17rem;
							padding-right: 0.17rem;
							margin-top: 0.14rem;
							.product_list_info_text{
								font-size: 12px;
								margin-bottom: 10px;
								color: #666666;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.active{
								margin: 5px 0;
								font-size: 16px !important;
								font-weight: 400;
								color: #000000 !important;
								font-weight: 700;
							}
							.product_list_info_plus{
								margin-bottom: 10px;
								color: #1e1e1e;
								.product_list_info_text_left{
									font-weight: 400;
									font-size: 14px;
									.text{
										color: #333333;
									}
								}
								.product_list_info_text_right{
									font-weight: 400;
									font-size: 14px;
									margin-left: auto;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px){
	.supplier_sharing{
		background-color: #ffffff;
	}
}
/deep/ .u-indicator-item-round{
	background-color: #00B0EC;
}
/deep/ .u-indicator-item-round-active{
	background-color: #00B0EC;
}